<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Health Catalyst Home Test</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/search.js"></script>
    <script src="Scripts/autogen.js"></script>
    <script src="Scripts/add.js"></script>    
</head>
<body style="background: #dee0e2;" ng-controller="searchcontroller">    
        <header><div align="center"><font size="15"><b>Health Catalyst Home Test</b></font></div></header>
    <br />    
        <div>
            <div>
                <div>
                    <font size="3">
                        <nav style="background:#C8CDD0">
                            <table>
                                <tr>
                                    <td rowspan="5" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px">
                                        <img ng-src="data:image/JPEG;base64,{{selected.Image}}" onerror="this.src='ExamplePictures/Unknown-person.png'" width="128" height="128" style="vertical-align:middle">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:20px; padding-right:20px;">
                                        First Name: {{selected.FirstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:20px; padding-right:20px;">
                                        Last Name: {{selected.LastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:20px; padding-right:20px;">
                                        Age: {{selected.Age}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:20px; padding-right:20px;">
                                        Interests: {{selected.Interests}}
                                    </td>
                                </tr>
                            </table>
                        </nav>
                    </font>
                </div>
                <br />
                <div>
                    <form name="searchform" ng-submit="search()">
                        <input type="text" ng-model="name" required>
                        <input type="submit" style="padding-right:10px" value=search ng-disabled="searchform.$invalid" />
                        <p>{{searching}}</p>
                        <p>{{searchFail}}</p>
                    </form>
                </div>
                <br />
                <table class="table table-borded">
                    <thead class="thead-dark" style="background-color:#727e91">
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Age</th>
                    </tr>
                    </thead>
                    <tbody>                  
                    <tr ng-repeat="client in clients"
                        ng-style="{'background-color': $index == selectedIndex ? '#71a1ed' :'#a8bde0'}"
                        ng-click="setSelect(client, $index)">                  
                        <td>{{client.FirstName}}</td>
                        <td>{{client.LastName}}</td>
                        <td>{{client.Age}}</td>
                    </tr>
                        <tr><th colspan="5">Click the row to see client info detail</th></tr>
                    </tbody>
                </table>
            </div>
    </div>
        <form ng-controller="addcontroller" ng-submit="add()">
            <p><font size="5"><b>Create User</b></font></p>
            <table class="table">
                <tr>
                    <td>First Name:<input type="text" ng-model="postClient.FirstName" /></td>
                    <td>Last Name:<input type="text" ng-model="postClient.LastName" /></td>
                    <td>Age: <input type="number" ng-model="postClient.Age" /></td>
                    <td>Interests: <input type="text" ng-model="postClient.Interests" /></td>
                    <td>File:<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" id="photo-upload" /></td>
                </tr>
                <tr>
                    <td colspan="5"><input type="submit" value="Add Client" /></td>              
                </tr>
            </table>
            <p align="center">{{adding}}</p>
        </form>           
    <br />
    <br />
    <p align="center">
        <button ng-click="clear()">Clear</button>      
        <button ng-controller="generateDBcontroller" ng-click="generateDB()">{{generating}}</button>     
    </p>
    <p>{{clearing}} </p>
</body>
</html>